@import-normalize;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__content-body {
  margin-bottom: 10px;
}

.posts__wrapper {
  margin-bottom: 30px;
}


.post-enter {
  transform: translateX(-350px);
}

.post-enter-active {
  transform: translateX(0);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
  background-color: lightgray;
}

.navbar__links a{
  margin-right: 15px;
}
